.d-n { display: none; }
.d-b { display: block; }

/* style */
.social-icon--note {
    background-color: #951c55;
}

ul.d-thread--notes {
    margin-top: 15px;   
}
ul.d-thread--notes>li:before {
    content: none;
    background-color: white;
}
.d-thread--notes li {
    border-top: 0.0625rem solid #eaeaea;
}
.d-thread--notes .d-comment__main {
    padding-bottom: 0;
}

